In [51]:
"""
Set Options
"""

# import libraries
import pandas as pd
import numpy as np
import os
import glob
import matplotlib.pyplot as plt
import matplotlib
from datetime import datetime
import pickle as pkl

# configuration options
%matplotlib inline
matplotlib.style.use("seaborn-muted")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 20)

In [52]:
"""
read in and parse national income data
"""
# read data
income = pd.read_csv('./data/income_national.csv', encoding = "ISO-8859-1")

# sort to NY and NY
income = income[(income['State_ab']=='NY') | (income['State_ab']=='NJ')]
income.reset_index()

# remove spurious data
income = income.drop(['id', 'State_Code', 'State_Name', 'State_ab', 'County', 'City', 'Place',
       'Type', 'Primary', 'Zip_Code', 'Area_Code', 'ALand', 'AWater', 'sum_w'], axis = 1)

# change column titles to caps
income.rename(index=str, columns={"Lat":"LAT"},inplace=True)
income.rename(index=str, columns={"Lon":"LON"},inplace=True)
income.rename(index=str, columns={"Mean":"INCOME"},inplace=True)
income.rename(index=str, columns={"Median":"MEDIAN"},inplace=True)
income.rename(index=str, columns={"Stdev":"STDEV"},inplace=True)

In [53]:
"""
write to save file
"""

income.to_csv('./data/income_locations.csv')

with open('./data/income.pkl', 'wb') as picklefile:
    pkl.dump(income, picklefile)

             LAT        LON  INCOME  MEDIAN  STDEV
17713  40.470151 -74.534049  118267  116942  64262
17714  40.574413 -74.414800   98703   88011  63572
17715  39.041691 -74.768837  103736   79443  81992
17716  40.918309 -73.950523  146397  146279  86661
17717  40.447490 -74.170046   78814   70364  53062