In [5]:
"""
Set Options
"""

# import libraries
import pandas as pd
import numpy as np
import os
import glob
import matplotlib.pyplot as plt
import matplotlib
from datetime import datetime
import pickle as pkl

# configuration options
%matplotlib inline
matplotlib.style.use("seaborn-muted")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

In [4]:
"""
import pickle file
"""
with open("./data/filtered_data.pkl", 'rb') as picklefile: 
    filtered = pkl.load(picklefile)

In [30]:
"""
apply aggregation function to get total fluxes per station
"""

# aggregate on station sum over all days
filtered_station = filtered.groupby(['STATION']).agg({'ENTRY_FLUX':['sum'], 'EXIT_FLUX' : ['sum']})
filtered_station.columns = filtered_station.columns.map('_'.join)

# resets index
filtered_station = filtered_station.sort_values(['ENTRY_FLUX_sum'], ascending = False).reset_index()

# renames columns to be consistent
filtered_station.rename(index=str, columns={'ENTRY_FLUX_sum':"ENTRY_SUM"},inplace=True)
filtered_station.rename(index=str, columns={'EXIT_FLUX_sum':"EXIT_SUM"},inplace=True)

In [ ]:
"""
write to save file
"""

with open('./data/filtered_station.pkl', 'wb') as picklefile:
    pkl.dump(filtered_station, picklefile)

In [8]:
filtered_station_date = filtered.groupby(['STATION', 'DATE']).agg({'ENTRY_FLUX':['sum', 'median'], 'EXIT_FLUX' : ['sum', 'median']})
filtered_station_date.columns = filtered_station_date.columns.map('_'.join)

In [9]:
filtered_station_date.sort_values(['ENTRY_FLUX_sum'], ascending = False)

                            ENTRY_FLUX_sum  ENTRY_FLUX_median  EXIT_FLUX_sum  \
STATION         DATE
34 ST-PENN STA  2018-04-05        147316.0             1701.0       106642.0
                2018-05-10        142693.0             1530.5       102386.0
                2018-03-06        141839.0             1561.0       101094.0
                2018-04-26        141086.0             1497.5       102822.0
                2018-05-03        140889.0             1474.5       101409.0
                2018-05-22        139867.0             1546.0        98010.0
                2018-03-28        139622.0             1489.0       100695.0
                2018-05-08        139276.0             1570.0        98868.0
                2018-04-19        139191.0             1497.0        96825.0
                2018-05-09        138672.0             1547.0        97905.0
                2018-04-27        138339.0             1483.0       101840.0
                2018-04-12        138177.0             1471.0        98305.0
                2018-05-02        138162.0             1469.5        99400.0
                2018-04-10        138147.0             1457.0        95198.0
                2018-05-07        138112.0             1434.0        99609.0
                2018-03-26        137783.0             1507.0        93549.0
                2018-05-01        137760.0             1447.0        96817.0
                2018-04-20        137692.0             1491.0       101664.0
                2018-05-24        137522.0             1442.0        99121.0
                2018-05-14        137428.0             1457.5        90856.0
                2018-03-15        137415.0             1567.0       100422.0
                2018-03-14        137080.0             1462.0        97801.0
                2018-04-11        136999.0             1521.5        96233.0
                2018-04-02        136932.0             1459.0        93725.0
                2018-03-20        136635.0             1496.0        95484.0
...                                    ...                ...            ...
METS-WILLETS PT 2018-02-28             0.0                0.0          155.0
34 ST-HUDSON YD 2018-04-22             0.0                0.0            5.0
AVENUE I        2018-05-13             0.0                0.0            0.0
AVENUE N        2018-02-25             0.0                0.0            2.0
                2018-03-25             0.0                0.0            2.0
                2018-05-06             0.0                0.0            0.0
                2018-05-13             0.0                0.0            1.0
116 ST-COLUMBIA 2018-02-25             0.0                0.0           12.0
RIT-MANHATTAN   2018-05-25             0.0                0.0            0.0
                2018-05-24             0.0                0.0            0.0
                2018-05-23             0.0                0.0            0.0
                2018-05-21             0.0                0.0            1.0
                2018-05-20             0.0                0.0            2.0
                2018-05-18             0.0                0.0            5.0
                2018-05-17             0.0                0.0            8.0
MARBLE HILL-225 2018-04-29             0.0                0.0           50.0
                2018-05-13             0.0                0.0           25.0
ASTORIA DITMARS 2018-04-01             0.0                0.0            9.0
                2018-03-25             0.0                0.0           83.0
                2018-03-18             0.0                0.0            6.0
ASTORIA BLVD    2018-03-25             0.0                0.0            2.0
                2018-03-18             0.0                0.0            6.0
METS-WILLETS PT 2018-02-25             0.0                0.0          229.0
                2018-02-26             0.0                0.0          182.0
NORWOOD AV      2018-03-04             0.0                0.0            0.0

                            EXIT_FLUX_median
STATION         DATE
34 ST-PENN STA  2018-04-05            1108.5
                2018-05-10            1080.5
                2018-03-06            1081.5
                2018-04-26            1096.0
                2018-05-03            1071.5
                2018-05-22            1079.0
                2018-03-28            1101.0
                2018-05-08            1083.5
                2018-04-19            1061.0
                2018-05-09            1009.0
                2018-04-27            1061.0
                2018-04-12            1078.0
                2018-05-02            1062.5
                2018-04-10             995.0
                2018-05-07            1010.0
                2018-03-26             989.0
                2018-05-01            1045.0
                2018-04-20            1032.0
                2018-05-24            1071.0
                2018-05-14             976.5
                2018-03-15            1088.0
                2018-03-14            1057.0
                2018-04-11             966.0
                2018-04-02             860.0
                2018-03-20            1023.0
...                                      ...
METS-WILLETS PT 2018-02-28               1.0
34 ST-HUDSON YD 2018-04-22               0.0
AVENUE I        2018-05-13               0.0
AVENUE N        2018-02-25               0.0
                2018-03-25               0.0
                2018-05-06               0.0
                2018-05-13               0.0
116 ST-COLUMBIA 2018-02-25               1.0
RIT-MANHATTAN   2018-05-25               0.0
                2018-05-24               0.0
                2018-05-23               0.0
                2018-05-21               0.5
                2018-05-20               1.0
                2018-05-18               2.5
                2018-05-17               4.0
MARBLE HILL-225 2018-04-29               2.0
                2018-05-13               0.0
ASTORIA DITMARS 2018-04-01               0.5
                2018-03-25               6.5
                2018-03-18               0.5
ASTORIA BLVD    2018-03-25               0.0
                2018-03-18               0.0
METS-WILLETS PT 2018-02-25               1.0
                2018-02-26               1.5
NORWOOD AV      2018-03-04               0.0

[33494 rows x 4 columns]