In [4]:
import numpy as np
import pandas as pd

df = pd.read_csv('turnstile_180922.txt')
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/15/2018,00:00:00,REGULAR,6759219,2291425
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/15/2018,04:00:00,REGULAR,6759234,2291429
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/15/2018,08:00:00,REGULAR,6759251,2291453
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/15/2018,12:00:00,REGULAR,6759330,2291532
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/15/2018,16:00:00,REGULAR,6759538,2291574

In [10]:
df['UNIT'].describe()

count     199102
unique       458
top         R549
freq        2841
Name: UNIT, dtype: object

In [11]:
df.shape

(199102, 11)

In [13]:
df['STATION'].describe()

count             199102
unique               374
top       34 ST-PENN STA
freq                4245
Name: STATION, dtype: object

In [14]:
df['SCP'].describe()

count       199102
unique         219
top       00-00-00
freq         18757
Name: SCP, dtype: object

In [15]:
df['DIVISION'].describe()

count     199102
unique         6
top          IRT
freq       73469
Name: DIVISION, dtype: object

In [20]:
df_regular = df.loc[df['DESC'] == 'REGULAR']
df_regular.head()
df_regular.count()

C/A                                                                     198002
UNIT                                                                    198002
SCP                                                                     198002
STATION                                                                 198002
LINENAME                                                                198002
DIVISION                                                                198002
DATE                                                                    198002
TIME                                                                    198002
DESC                                                                    198002
ENTRIES                                                                 198002
EXITS                                                                   198002
dtype: int64

In [21]:
df_regular.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198002 entries, 0 to 199101
Data columns (total 11 columns):
C/A                                                                     198002 non-null object
UNIT                                                                    198002 non-null object
SCP                                                                     198002 non-null object
STATION                                                                 198002 non-null object
LINENAME                                                                198002 non-null object
DIVISION                                                                198002 non-null object
DATE                                                                    198002 non-null object
TIME                                                                    198002 non-null object
DESC                                                                    198002 non-null object
ENTRIES                                                                 198002 non-null int64
EXITS                                                                   198002 non-null int64
dtypes: int64(2), object(9)
memory usage: 18.1+ MB