Load in data from turnstile file

In [54]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns

%matplotlib inline

# set display options
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 200)

In [81]:
# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
#week_nums = [180224,180303, 180310, 180317, 180324, 180331, 180407, 180414, 180421, 180428, 180505, 180512, 180519, 180526, 180602]
week_nums =[180303, 180310, 180317, 180324, 180331]

turnstiles_df = get_data(week_nums)

In [82]:
#check the top enteries to see the data
turnstiles_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,03:00:00,RECOVR AUD,6527780,2210496
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,07:00:00,REGULAR,6527794,2210507
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,11:00:00,REGULAR,6527838,2210585
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,15:00:00,REGULAR,6527994,2210644
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,19:00:00,REGULAR,6528278,2210705

In [57]:
#check the dimension of the data
turnstiles_df.shape

(987294, 11)

In [83]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [84]:
#list comprehension that strips the extra space from the column names
turnstiles_df.columns = [column.strip() for column in turnstiles_df.columns]

In [85]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [86]:
# Take the date and time fields into a single datetime column
turnstiles_df["DATE_TIME"] = pd.to_datetime(turnstiles_df.DATE + " " + turnstiles_df.TIME, format="%m/%d/%Y %H:%M:%S")

In [70]:
#check entries for duplicates
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])  
 .ENTRIES.count()
 .reset_index() # or use as_index = False; otherwise makes groupby columns new index 
 .sort_values("ENTRIES", ascending=False)).head(5)

         C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
648338  R135  R031  01-00-00  34 ST-PENN STA 2018-03-22 08:00:00        2
0       A002  R051  02-00-00           59 ST 2018-02-24 03:00:00        1
658201  R143  R032  02-03-01  TIMES SQ-42 ST 2018-03-17 16:00:00        1
658189  R143  R032  02-03-01  TIMES SQ-42 ST 2018-03-15 16:00:00        1
658190  R143  R032  02-03-01  TIMES SQ-42 ST 2018-03-15 20:00:00        1

In [71]:
mask = ((turnstiles_df["C/A"] == "R135") & 
        (turnstiles_df["UNIT"] == "R031") & 
        (turnstiles_df["SCP"] == "01-00-00") & 
        (turnstiles_df["STATION"] == "34 ST-PENN STA") &
        (turnstiles_df["DATE_TIME"] == "2018-03-22 08:00:00"))

turnstiles_df[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
129506,R135,R031,01-00-00,34 ST-PENN STA,123,IRT,03/22/2018,08:00:00,REGULAR,14789593,20329631,2018-03-22 08:00:00
129507,R135,R031,01-00-00,34 ST-PENN STA,123,IRT,03/22/2018,08:00:00,RECOVR AUD,14789592,20329631,2018-03-22 08:00:00

In [73]:
#check exits for duplicates
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])  
 .EXITS.count()
 .reset_index() # or use as_index = False; otherwise makes groupby columns new index 
 .sort_values("EXITS", ascending=False)).head(5)

###It does not matter which one you take thay all return the ame result.

         C/A  UNIT       SCP         STATION           DATE_TIME  EXITS
648338  R135  R031  01-00-00  34 ST-PENN STA 2018-03-22 08:00:00      2
0       A002  R051  02-00-00           59 ST 2018-02-24 03:00:00      1
658201  R143  R032  02-03-01  TIMES SQ-42 ST 2018-03-17 16:00:00      1
658189  R143  R032  02-03-01  TIMES SQ-42 ST 2018-03-15 16:00:00      1
658190  R143  R032  02-03-01  TIMES SQ-42 ST 2018-03-15 20:00:00      1

In [88]:
turnstiles_df['DESC'].unique()
turnstiles_df = turnstiles_df[turnstiles_df['DESC'] == 'REGULAR']
#turnstiles_df.shape

In [90]:
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])  
 .EXITS.count()
 .reset_index() # or use as_index = False; otherwise makes groupby columns new index 
 .sort_values("EXITS", ascending=False)).head(5)

         C/A  UNIT       SCP         STATION           DATE_TIME  EXITS
0       A002  R051  02-00-00           59 ST 2018-02-24 07:00:00      1
654617  R143  R032  02-03-01  TIMES SQ-42 ST 2018-02-27 19:00:00      1
654605  R143  R032  02-03-01  TIMES SQ-42 ST 2018-02-25 19:00:00      1
654606  R143  R032  02-03-01  TIMES SQ-42 ST 2018-02-25 23:00:00      1
654607  R143  R032  02-03-01  TIMES SQ-42 ST 2018-02-26 03:00:00      1

In [91]:
turnstiles_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,07:00:00,REGULAR,6527794,2210507,2018-02-24 07:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,11:00:00,REGULAR,6527838,2210585,2018-02-24 11:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,15:00:00,REGULAR,6527994,2210644,2018-02-24 15:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,19:00:00,REGULAR,6528278,2210705,2018-02-24 19:00:00
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,23:00:00,REGULAR,6528389,2210728,2018-02-24 23:00:00

In [92]:
turnstiles_df = turnstiles_df.drop(["DESC"], axis=1, errors="ignore")

In [93]:
turnstiles_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATE_TIME
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,07:00:00,6527794,2210507,2018-02-24 07:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,11:00:00,6527838,2210585,2018-02-24 11:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,15:00:00,6527994,2210644,2018-02-24 15:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,19:00:00,6528278,2210705,2018-02-24 19:00:00
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,23:00:00,6528389,2210728,2018-02-24 23:00:00

In [96]:
#turnstiles entries daily
turnstiles_daily_entries = turnstiles_df.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"])\
.ENTRIES.first().reset_index()

In [97]:
turnstiles_daily_entries.head()

    C/A  UNIT       SCP STATION        DATE  ENTRIES
0  A002  R051  02-00-00   59 ST  02/24/2018  6527794
1  A002  R051  02-00-00   59 ST  02/25/2018  6528417
2  A002  R051  02-00-00   59 ST  02/26/2018  6528905
3  A002  R051  02-00-00   59 ST  02/27/2018  6530309
4  A002  R051  02-00-00   59 ST  02/28/2018  6531774

In [98]:
turnstiles_daily_exits = turnstiles_df.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"])\
.EXITS.first().reset_index()

In [99]:
turnstiles_daily_exits.head()

    C/A  UNIT       SCP STATION        DATE    EXITS
0  A002  R051  02-00-00   59 ST  02/24/2018  2210507
1  A002  R051  02-00-00   59 ST  02/25/2018  2210734
2  A002  R051  02-00-00   59 ST  02/26/2018  2210907
3  A002  R051  02-00-00   59 ST  02/27/2018  2211297
4  A002  R051  02-00-00   59 ST  02/28/2018  2211800

In [100]:
turnstiles_daily = turnstiles_df.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"])\
.ENTRIES.first()
.EXITS.first().reset_index()

SyntaxError: invalid syntax (<ipython-input-100-3b7c82ab780b>, line 2)

In [ ]:
turnstiles_df.DATE.value_counts().sort_index()

In [62]:
#masking
mask = ((turnstiles_df["C/A"] == "A002") & 
        (turnstiles_df["UNIT"] == "R051") & 
        (turnstiles_df["SCP"] == "02-00-00") & 
        (turnstiles_df["STATION"] == "59 ST"))

turnstiles_df[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,03:00:00,RECOVR AUD,6527780,2210496
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,07:00:00,REGULAR,6527794,2210507
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,11:00:00,REGULAR,6527838,2210585
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,15:00:00,REGULAR,6527994,2210644
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/24/2018,19:00:00,REGULAR,6528278,2210705

In [ ]:
# load data from MTA
#df = pd.read_csv('./data/turnstile_180922.txt')

# convert time data into datetime objects
#df['TIMING'] = pd.to_datetime(df['DATE'] + ' ' + df['TIME'],format = '%m/%d/%Y %H:%M:%S' )

In [ ]:
df.head()

In [64]:
(df.groupby(
['C/A', 'UNIT','SCP','STATION', 'TIMING'])
.sum()
.reset_index()
)

,C/A,UNIT,SCP,STATION,TIMING,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,2018-09-15 00:00:00,6759219,2291425
1,A002,R051,02-00-00,59 ST,2018-09-15 04:00:00,6759234,2291429
2,A002,R051,02-00-00,59 ST,2018-09-15 08:00:00,6759251,2291453
3,A002,R051,02-00-00,59 ST,2018-09-15 12:00:00,6759330,2291532
4,A002,R051,02-00-00,59 ST,2018-09-15 16:00:00,6759538,2291574
5,A002,R051,02-00-00,59 ST,2018-09-15 20:00:00,6759808,2291608
6,A002,R051,02-00-00,59 ST,2018-09-16 00:00:00,6759951,2291626
7,A002,R051,02-00-00,59 ST,2018-09-16 04:00:00,6759968,2291630
8,A002,R051,02-00-00,59 ST,2018-09-16 08:00:00,6759987,2291639
9,A002,R051,02-00-00,59 ST,2018-09-16 12:00:00,6760045,2291661
10,A002,R051,02-00-00,59 ST,2018-09-16 16:00:00,6760160,2291672
11,A002,R051,02-00-00,59 ST,2018-09-16 20:00:00,6760301,2291683
12,A002,R051,02-00-00,59 ST,2018-09-17 00:00:00,6760373,2291684
13,A002,R051,02-00-00,59 ST,2018-09-17 04:00:00,6760378,2291687
14,A002,R051,02-00-00,59 ST,2018-09-17 08:00:00,6760412,2291814
15,A002,R051,02-00-00,59 ST,2018-09-17 12:00:00,6760526,2292066
16,A002,R051,02-00-00,59 ST,2018-09-17 16:00:00,6760809,2292116
17,A002,R051,02-00-00,59 ST,2018-09-17 20:00:00,6761564,2292178
18,A002,R051,02-00-00,59 ST,2018-09-18 00:00:00,6761730,2292204
19,A002,R051,02-00-00,59 ST,2018-09-18 04:00:00,6761745,2292205
20,A002,R051,02-00-00,59 ST,2018-09-18 08:00:00,6761778,2292321
21,A002,R051,02-00-00,59 ST,2018-09-18 12:00:00,6761913,2292560
22,A002,R051,02-00-00,59 ST,2018-09-18 16:00:00,6762203,2292619
23,A002,R051,02-00-00,59 ST,2018-09-18 20:00:00,6762919,2292694
24,A002,R051,02-00-00,59 ST,2018-09-19 00:00:00,6763079,2292715
25,A002,R051,02-00-00,59 ST,2018-09-19 04:00:00,6763097,2292716
26,A002,R051,02-00-00,59 ST,2018-09-19 08:00:00,6763140,2292809
27,A002,R051,02-00-00,59 ST,2018-09-19 12:00:00,6763278,2293012
28,A002,R051,02-00-00,59 ST,2018-09-19 16:00:00,6763565,2293076
29,A002,R051,02-00-00,59 ST,2018-09-19 20:00:00,6764299,2293118
30,A002,R051,02-00-00,59 ST,2018-09-20 00:00:00,6764482,2293147
31,A002,R051,02-00-00,59 ST,2018-09-20 04:00:00,6764494,2293148
32,A002,R051,02-00-00,59 ST,2018-09-20 07:26:01,6764512,2293206
33,A002,R051,02-00-00,59 ST,2018-09-20 08:00:00,6764529,2293257
34,A002,R051,02-00-00,59 ST,2018-09-20 12:00:00,6764691,2293501
35,A002,R051,02-00-00,59 ST,2018-09-20 16:00:00,6764991,2293576
36,A002,R051,02-00-00,59 ST,2018-09-20 20:00:00,6765784,2293634
37,A002,R051,02-00-00,59 ST,2018-09-21 00:00:00,6765976,2293661
38,A002,R051,02-00-00,59 ST,2018-09-21 04:00:00,6765985,2293665
39,A002,R051,02-00-00,59 ST,2018-09-21 08:00:00,6766026,2293779
40,A002,R051,02-00-00,59 ST,2018-09-21 12:00:00,6766182,2294031
41,A002,R051,02-00-00,59 ST,2018-09-21 16:00:00,6766532,2294117
42,A002,R051,02-00-00,59 ST,2018-09-21 20:00:00,6767315,2294186
43,A002,R051,02-00-01,59 ST,2018-09-15 00:00:00,6045231,1353980
44,A002,R051,02-00-01,59 ST,2018-09-15 04:00:00,6045246,1353981
45,A002,R051,02-00-01,59 ST,2018-09-15 08:00:00,6045257,1353992
46,A002,R051,02-00-01,59 ST,2018-09-15 12:00:00,6045323,1354034
47,A002,R051,02-00-01,59 ST,2018-09-15 16:00:00,6045486,1354062
48,A002,R051,02-00-01,59 ST,2018-09-15 20:00:00,6045716,1354078
49,A002,R051,02-00-01,59 ST,2018-09-16 00:00:00,6045808,1354088
50,A002,R051,02-00-01,59 ST,2018-09-16 04:00:00,6045820,1354090
51,A002,R051,02-00-01,59 ST,2018-09-16 08:00:00,6045831,1354096
52,A002,R051,02-00-01,59 ST,2018-09-16 12:00:00,6045871,1354104
53,A002,R051,02-00-01,59 ST,2018-09-16 16:00:00,6045958,1354108
54,A002,R051,02-00-01,59 ST,2018-09-16 20:00:00,6046062,1354118
55,A002,R051,02-00-01,59 ST,2018-09-17 00:00:00,6046110,1354119
56,A002,R051,02-00-01,59 ST,2018-09-17 04:00:00,6046114,1354121
57,A002,R051,02-00-01,59 ST,2018-09-17 08:00:00,6046139,1354167
58,A002,R051,02-00-01,59 ST,2018-09-17 12:00:00,6046233,1354286
59,A002,R051,02-00-01,59 ST,2018-09-17 16:00:00,6046460,1354318
60,A002,R051,02-00-01,59 ST,2018-09-17 20:00:00,6047038,1354351
61,A002,R051,02-00-01,59 ST,2018-09-18 00:00:00,6047161,1354356
62,A002,R051,02-00-01,59 ST,2018-09-18 04:00:00,6047174,1354358
63,A002,R051,02-00-01,59 ST,2018-09-18 08:00:00,6047204,1354425
64,A002,R051,02-00-01,59 ST,2018-09-18 12:00:00,6047340,1354534
65,A002,R051,02-00-01,59 ST,2018-09-18 16:00:00,6047570,1354572
66,A002,R051,02-00-01,59 ST,2018-09-18 20:00:00,6048137,1354616
67,A002,R051,02-00-01,59 ST,2018-09-19 00:00:00,6048245,1354629
68,A002,R051,02-00-01,59 ST,2018-09-19 04:00:00,6048249,1354634
69,A002,R051,02-00-01,59 ST,2018-09-19 08:00:00,6048270,1354676
70,A002,R051,02-00-01,59 ST,2018-09-19 12:00:00,6048398,1354766
71,A002,R051,02-00-01,59 ST,2018-09-19 16:00:00,6048618,1354801
72,A002,R051,02-00-01,59 ST,2018-09-19 20:00:00,6049114,1354847
73,A002,R051,02-00-01,59 ST,2018-09-20 00:00:00,6049254,1354862
74,A002,R051,02-00-01,59 ST,2018-09-20 04:00:00,6049265,1354865
75,A002,R051,02-00-01,59 ST,2018-09-20 07:26:01,6049284,1354899
76,A002,R051,02-00-01,59 ST,2018-09-20 08:00:00,6049302,1354922
77,A002,R051,02-00-01,59 ST,2018-09-20 12:00:00,6049429,1355045
78,A002,R051,02-00-01,59 ST,2018-09-20 16:00:00,6049690,1355090
79,A002,R051,02-00-01,59 ST,2018-09-20 20:00:00,6050307,1355138
80,A002,R051,02-00-01,59 ST,2018-09-21 00:00:00,6050467,1355159
81,A002,R051,02-00-01,59 ST,2018-09-21 04:00:00,6050476,1355163
82,A002,R051,02-00-01,59 ST,2018-09-21 08:00:00,6050506,1355200
83,A002,R051,02-00-01,59 ST,2018-09-21 12:00:00,6050651,1355312
84,A002,R051,02-00-01,59 ST,2018-09-21 16:00:00,6050911,1355356
85,A002,R051,02-00-01,59 ST,2018-09-21 20:00:00,6051527,1355416
86,A002,R051,02-03-00,59 ST,2018-09-15 00:00:00,1126210,4210621
87,A002,R051,02-03-00,59 ST,2018-09-15 04:00:00,1126218,4210643
88,A002,R051,02-03-00,59 ST,2018-09-15 08:00:00,1126219,4210715
89,A002,R051,02-03-00,59 ST,2018-09-15 12:00:00,1126251,4210949
90,A002,R051,02-03-00,59 ST,2018-09-15 16:00:00,1126361,4211176
91,A002,R051,02-03-00,59 ST,2018-09-15 20:00:00,1126462,4211355
92,A002,R051,02-03-00,59 ST,2018-09-16 00:00:00,1126529,4211425
93,A002,R051,02-03-00,59 ST,2018-09-16 04:00:00,1126536,4211435
94,A002,R051,02-03-00,59 ST,2018-09-16 08:00:00,1126542,4211468
95,A002,R051,02-03-00,59 ST,2018-09-16 12:00:00,1126580,4211517
96,A002,R051,02-03-00,59 ST,2018-09-16 16:00:00,1126643,4211583
97,A002,R051,02-03-00,59 ST,2018-09-16 20:00:00,1126711,4211630
98,A002,R051,02-03-00,59 ST,2018-09-17 00:00:00,1126747,4211643
99,A002,R051,02-03-00,59 ST,2018-09-17 04:00:00,1126750,4211646
...,...,...,...,...,...,...,...
199002,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-19 09:00:00,2987554,388941
199003,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-19 13:00:00,2987625,388942
199004,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-19 17:00:00,2987716,388951
199005,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-19 21:00:00,2987819,388952
199006,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-20 01:00:00,2987836,388953
199007,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-20 05:00:00,2987838,388953
199008,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-20 09:00:00,2987849,388955
199009,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-20 13:00:00,2987933,388959
199010,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-20 17:00:00,2988030,388962
199011,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-20 21:00:00,2988134,388964
199012,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-21 01:00:00,2988164,388965
199013,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-21 05:00:00,2988164,388966
199014,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-21 09:00:00,2988179,388967
199015,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-21 13:00:00,2988237,388968
199016,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-21 17:00:00,2988321,388970
199017,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2018-09-21 21:00:00,2988422,388973
199018,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-15 01:00:00,2809,62
199019,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-15 05:00:00,2809,62
199020,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-15 09:00:00,2809,62
199021,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-15 13:00:00,2809,62
199022,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-15 17:00:00,2809,62
199023,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-15 21:00:00,2809,62
199024,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-16 01:00:00,2809,62
199025,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-16 05:00:00,2809,62
199026,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-16 09:00:00,2809,62
199027,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-16 13:00:00,2809,62
199028,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-16 17:00:00,2809,62
199029,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-16 21:00:00,2809,62
199030,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-17 01:00:00,2809,62
199031,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-17 05:00:00,2809,62
199032,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-17 09:00:00,2809,62
199033,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-17 13:00:00,2809,62
199034,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-17 17:00:00,2809,62
199035,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-17 21:00:00,2809,62
199036,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-18 01:00:00,2809,62
199037,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-18 05:00:00,2809,62
199038,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-18 09:00:00,2809,62
199039,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-18 13:00:00,2809,62
199040,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-18 17:00:00,2809,62
199041,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-18 21:00:00,2809,62
199042,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-19 01:00:00,2809,62
199043,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-19 05:00:00,2809,62
199044,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-19 09:00:00,2809,62
199045,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-19 13:00:00,2809,62
199046,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-19 17:00:00,2810,62
199047,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-19 21:00:00,2810,62
199048,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-20 01:00:00,2810,62
199049,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-20 05:00:00,2810,62
199050,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-20 09:00:00,2810,62
199051,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-20 13:00:00,2810,62
199052,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-20 17:00:00,2810,62
199053,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-20 21:00:00,2810,62
199054,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-21 01:00:00,2810,62
199055,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-21 05:00:00,2810,62
199056,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-21 09:00:00,2810,62
199057,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-21 13:00:00,2810,62
199058,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-21 17:00:00,2811,62
199059,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2018-09-21 21:00:00,2811,62
199060,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-15 01:00:00,5554,348
199061,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-15 05:00:00,5554,348
199062,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-15 09:00:00,5554,348
199063,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-15 13:00:00,5554,348
199064,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-15 17:00:00,5554,348
199065,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-15 21:00:00,5554,348
199066,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-16 01:00:00,5554,348
199067,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-16 05:00:00,5554,348
199068,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-16 09:00:00,5554,348
199069,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-16 13:00:00,5554,348
199070,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-16 17:00:00,5554,348
199071,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-16 21:00:00,5554,348
199072,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-17 01:00:00,5554,348
199073,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-17 05:00:00,5554,348
199074,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-17 09:00:00,5554,348
199075,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-17 13:00:00,5554,348
199076,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-17 17:00:00,5554,348
199077,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-17 21:00:00,5554,348
199078,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-18 01:00:00,5554,348
199079,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-18 05:00:00,5554,348
199080,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-18 09:00:00,5554,348
199081,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-18 13:00:00,5554,348
199082,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-18 17:00:00,5554,348
199083,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-18 21:00:00,5554,348
199084,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-19 01:00:00,5554,348
199085,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-19 05:00:00,5554,348
199086,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-19 09:00:00,5554,348
199087,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-19 13:00:00,5554,348
199088,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-19 17:00:00,5554,348
199089,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-19 21:00:00,5554,348
199090,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-20 01:00:00,5554,348
199091,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-20 05:00:00,5554,348
199092,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-20 09:00:00,5554,348
199093,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-20 13:00:00,5554,348
199094,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-20 17:00:00,5554,348
199095,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-20 21:00:00,5554,348
199096,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-21 01:00:00,5554,348
199097,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-21 05:00:00,5554,348
199098,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-21 09:00:00,5554,348
199099,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-21 13:00:00,5554,348
199100,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-21 17:00:00,5554,348
199101,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2018-09-21 21:00:00,5554,348

In [21]:
df_1_AV= df[df.STATION == '1 AV']
df_1_AV

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,TIMING
30340,H007,R248,00-00-00,1 AV,L,BMT,09/15/2018,00:00:00,REGULAR,13935028,15643528,2018-09-15 00:00:00
30341,H007,R248,00-00-00,1 AV,L,BMT,09/15/2018,04:00:00,REGULAR,13935146,15643854,2018-09-15 04:00:00
30342,H007,R248,00-00-00,1 AV,L,BMT,09/15/2018,08:00:00,REGULAR,13935209,15644198,2018-09-15 08:00:00
30343,H007,R248,00-00-00,1 AV,L,BMT,09/15/2018,12:00:00,REGULAR,13935751,15644918,2018-09-15 12:00:00
30344,H007,R248,00-00-00,1 AV,L,BMT,09/15/2018,16:00:00,REGULAR,13936521,15645879,2018-09-15 16:00:00
30345,H007,R248,00-00-00,1 AV,L,BMT,09/15/2018,20:00:00,REGULAR,13937295,15647057,2018-09-15 20:00:00
30346,H007,R248,00-00-00,1 AV,L,BMT,09/16/2018,00:00:00,REGULAR,13937772,15647917,2018-09-16 00:00:00
30347,H007,R248,00-00-00,1 AV,L,BMT,09/16/2018,04:00:00,REGULAR,13937895,15648255,2018-09-16 04:00:00
30348,H007,R248,00-00-00,1 AV,L,BMT,09/16/2018,08:00:00,REGULAR,13937938,15648435,2018-09-16 08:00:00
30349,H007,R248,00-00-00,1 AV,L,BMT,09/16/2018,12:00:00,REGULAR,13938317,15649097,2018-09-16 12:00:00
30350,H007,R248,00-00-00,1 AV,L,BMT,09/16/2018,16:00:00,REGULAR,13938951,15650060,2018-09-16 16:00:00
30351,H007,R248,00-00-00,1 AV,L,BMT,09/16/2018,20:00:00,RECOVR AUD,13939593,15650947,2018-09-16 20:00:00
30352,H007,R248,00-00-00,1 AV,L,BMT,09/17/2018,00:00:00,REGULAR,13939870,15651409,2018-09-17 00:00:00
30353,H007,R248,00-00-00,1 AV,L,BMT,09/17/2018,04:00:00,REGULAR,13939898,15651464,2018-09-17 04:00:00
30354,H007,R248,00-00-00,1 AV,L,BMT,09/17/2018,08:00:00,REGULAR,13940333,15652241,2018-09-17 08:00:00
30355,H007,R248,00-00-00,1 AV,L,BMT,09/17/2018,12:00:00,REGULAR,13941526,15653452,2018-09-17 12:00:00
30356,H007,R248,00-00-00,1 AV,L,BMT,09/17/2018,16:00:00,REGULAR,13942407,15654219,2018-09-17 16:00:00
30357,H007,R248,00-00-00,1 AV,L,BMT,09/17/2018,20:00:00,REGULAR,13943442,15655035,2018-09-17 20:00:00
30358,H007,R248,00-00-00,1 AV,L,BMT,09/18/2018,00:00:00,REGULAR,13943784,15655472,2018-09-18 00:00:00
30359,H007,R248,00-00-00,1 AV,L,BMT,09/18/2018,04:00:00,REGULAR,13943784,15655474,2018-09-18 04:00:00
30360,H007,R248,00-00-00,1 AV,L,BMT,09/18/2018,08:00:00,REGULAR,13944186,15656276,2018-09-18 08:00:00
30361,H007,R248,00-00-00,1 AV,L,BMT,09/18/2018,12:00:00,REGULAR,13945380,15657628,2018-09-18 12:00:00
30362,H007,R248,00-00-00,1 AV,L,BMT,09/18/2018,16:00:00,REGULAR,13946379,15658347,2018-09-18 16:00:00
30363,H007,R248,00-00-00,1 AV,L,BMT,09/18/2018,20:00:00,REGULAR,13947434,15659122,2018-09-18 20:00:00
30364,H007,R248,00-00-00,1 AV,L,BMT,09/19/2018,00:00:00,REGULAR,13947734,15659584,2018-09-19 00:00:00
30365,H007,R248,00-00-00,1 AV,L,BMT,09/19/2018,04:00:00,REGULAR,13947734,15659588,2018-09-19 04:00:00
30366,H007,R248,00-00-00,1 AV,L,BMT,09/19/2018,08:00:00,REGULAR,13948025,15660314,2018-09-19 08:00:00
30367,H007,R248,00-00-00,1 AV,L,BMT,09/19/2018,12:00:00,REGULAR,13949198,15661418,2018-09-19 12:00:00
30368,H007,R248,00-00-00,1 AV,L,BMT,09/19/2018,16:00:00,REGULAR,13949973,15662234,2018-09-19 16:00:00
30369,H007,R248,00-00-00,1 AV,L,BMT,09/19/2018,20:00:00,REGULAR,13950873,15663092,2018-09-19 20:00:00
30370,H007,R248,00-00-00,1 AV,L,BMT,09/20/2018,00:00:00,REGULAR,13951231,15663583,2018-09-20 00:00:00
30371,H007,R248,00-00-00,1 AV,L,BMT,09/20/2018,04:00:00,REGULAR,13951231,15663583,2018-09-20 04:00:00
30372,H007,R248,00-00-00,1 AV,L,BMT,09/20/2018,08:00:00,REGULAR,13951554,15664388,2018-09-20 08:00:00
30373,H007,R248,00-00-00,1 AV,L,BMT,09/20/2018,12:00:00,REGULAR,13952710,15665650,2018-09-20 12:00:00
30374,H007,R248,00-00-00,1 AV,L,BMT,09/20/2018,16:00:00,REGULAR,13953674,15666456,2018-09-20 16:00:00
30375,H007,R248,00-00-00,1 AV,L,BMT,09/20/2018,20:00:00,REGULAR,13954908,15667345,2018-09-20 20:00:00
30376,H007,R248,00-00-00,1 AV,L,BMT,09/21/2018,00:00:00,REGULAR,13955290,15667856,2018-09-21 00:00:00
30377,H007,R248,00-00-00,1 AV,L,BMT,09/21/2018,04:00:00,REGULAR,13955290,15667857,2018-09-21 04:00:00
30378,H007,R248,00-00-00,1 AV,L,BMT,09/21/2018,08:00:00,REGULAR,13955620,15668636,2018-09-21 08:00:00
30379,H007,R248,00-00-00,1 AV,L,BMT,09/21/2018,12:00:00,REGULAR,13956828,15670038,2018-09-21 12:00:00
30380,H007,R248,00-00-00,1 AV,L,BMT,09/21/2018,16:00:00,REGULAR,13957859,15670870,2018-09-21 16:00:00
30381,H007,R248,00-00-00,1 AV,L,BMT,09/21/2018,20:00:00,REGULAR,13959046,15671880,2018-09-21 20:00:00
30382,H007,R248,00-00-01,1 AV,L,BMT,09/15/2018,00:00:00,REGULAR,59333625,37430746,2018-09-15 00:00:00
30383,H007,R248,00-00-01,1 AV,L,BMT,09/15/2018,04:00:00,REGULAR,59333800,37431013,2018-09-15 04:00:00
30384,H007,R248,00-00-01,1 AV,L,BMT,09/15/2018,08:00:00,REGULAR,59333926,37431242,2018-09-15 08:00:00
30385,H007,R248,00-00-01,1 AV,L,BMT,09/15/2018,12:00:00,REGULAR,59334585,37431584,2018-09-15 12:00:00
30386,H007,R248,00-00-01,1 AV,L,BMT,09/15/2018,16:00:00,REGULAR,59335577,37432022,2018-09-15 16:00:00
30387,H007,R248,00-00-01,1 AV,L,BMT,09/15/2018,20:00:00,REGULAR,59336628,37432513,2018-09-15 20:00:00
30388,H007,R248,00-00-01,1 AV,L,BMT,09/16/2018,00:00:00,REGULAR,59337286,37433001,2018-09-16 00:00:00
30389,H007,R248,00-00-01,1 AV,L,BMT,09/16/2018,04:00:00,REGULAR,59337468,37433265,2018-09-16 04:00:00
30390,H007,R248,00-00-01,1 AV,L,BMT,09/16/2018,08:00:00,REGULAR,59337543,37433406,2018-09-16 08:00:00
30391,H007,R248,00-00-01,1 AV,L,BMT,09/16/2018,12:00:00,REGULAR,59338055,37433726,2018-09-16 12:00:00
30392,H007,R248,00-00-01,1 AV,L,BMT,09/16/2018,16:00:00,REGULAR,59338949,37434072,2018-09-16 16:00:00
30393,H007,R248,00-00-01,1 AV,L,BMT,09/16/2018,20:00:00,RECOVR AUD,59339796,37434447,2018-09-16 20:00:00
30394,H007,R248,00-00-01,1 AV,L,BMT,09/17/2018,00:00:00,REGULAR,59340232,37434760,2018-09-17 00:00:00
30395,H007,R248,00-00-01,1 AV,L,BMT,09/17/2018,04:00:00,REGULAR,59340279,37434804,2018-09-17 04:00:00
30396,H007,R248,00-00-01,1 AV,L,BMT,09/17/2018,08:00:00,REGULAR,59340773,37435242,2018-09-17 08:00:00
30397,H007,R248,00-00-01,1 AV,L,BMT,09/17/2018,12:00:00,REGULAR,59342279,37435680,2018-09-17 12:00:00
30398,H007,R248,00-00-01,1 AV,L,BMT,09/17/2018,16:00:00,REGULAR,59343438,37435999,2018-09-17 16:00:00
30399,H007,R248,00-00-01,1 AV,L,BMT,09/17/2018,20:00:00,REGULAR,59344817,37436193,2018-09-17 20:00:00
30400,H007,R248,00-00-01,1 AV,L,BMT,09/18/2018,00:00:00,REGULAR,59345275,37436427,2018-09-18 00:00:00
30401,H007,R248,00-00-01,1 AV,L,BMT,09/18/2018,04:00:00,REGULAR,59345275,37436427,2018-09-18 04:00:00
30402,H007,R248,00-00-01,1 AV,L,BMT,09/18/2018,08:00:00,REGULAR,59345815,37436888,2018-09-18 08:00:00
30403,H007,R248,00-00-01,1 AV,L,BMT,09/18/2018,12:00:00,REGULAR,59347501,37437274,2018-09-18 12:00:00
30404,H007,R248,00-00-01,1 AV,L,BMT,09/18/2018,16:00:00,REGULAR,59348705,37437542,2018-09-18 16:00:00
30405,H007,R248,00-00-01,1 AV,L,BMT,09/18/2018,20:00:00,REGULAR,59349965,37437805,2018-09-18 20:00:00
30406,H007,R248,00-00-01,1 AV,L,BMT,09/19/2018,00:00:00,REGULAR,59350418,37438051,2018-09-19 00:00:00
30407,H007,R248,00-00-01,1 AV,L,BMT,09/19/2018,04:00:00,REGULAR,59350419,37438053,2018-09-19 04:00:00
30408,H007,R248,00-00-01,1 AV,L,BMT,09/19/2018,08:00:00,REGULAR,59350833,37438457,2018-09-19 08:00:00
30409,H007,R248,00-00-01,1 AV,L,BMT,09/19/2018,12:00:00,REGULAR,59352335,37438807,2018-09-19 12:00:00
30410,H007,R248,00-00-01,1 AV,L,BMT,09/19/2018,16:00:00,REGULAR,59353274,37439154,2018-09-19 16:00:00
30411,H007,R248,00-00-01,1 AV,L,BMT,09/19/2018,20:00:00,REGULAR,59354445,37439449,2018-09-19 20:00:00
30412,H007,R248,00-00-01,1 AV,L,BMT,09/20/2018,00:00:00,REGULAR,59354931,37439726,2018-09-20 00:00:00
30413,H007,R248,00-00-01,1 AV,L,BMT,09/20/2018,04:00:00,REGULAR,59354931,37439726,2018-09-20 04:00:00
30414,H007,R248,00-00-01,1 AV,L,BMT,09/20/2018,08:00:00,REGULAR,59355409,37440176,2018-09-20 08:00:00
30415,H007,R248,00-00-01,1 AV,L,BMT,09/20/2018,12:00:00,REGULAR,59356956,37440610,2018-09-20 12:00:00
30416,H007,R248,00-00-01,1 AV,L,BMT,09/20/2018,16:00:00,REGULAR,59358157,37440882,2018-09-20 16:00:00
30417,H007,R248,00-00-01,1 AV,L,BMT,09/20/2018,20:00:00,REGULAR,59359563,37441155,2018-09-20 20:00:00
30418,H007,R248,00-00-01,1 AV,L,BMT,09/21/2018,00:00:00,REGULAR,59360147,37441429,2018-09-21 00:00:00
30419,H007,R248,00-00-01,1 AV,L,BMT,09/21/2018,04:00:00,REGULAR,59360147,37441430,2018-09-21 04:00:00
30420,H007,R248,00-00-01,1 AV,L,BMT,09/21/2018,08:00:00,REGULAR,59360624,37441852,2018-09-21 08:00:00
30421,H007,R248,00-00-01,1 AV,L,BMT,09/21/2018,12:00:00,REGULAR,59362178,37442212,2018-09-21 12:00:00
30422,H007,R248,00-00-01,1 AV,L,BMT,09/21/2018,16:00:00,REGULAR,59363390,37442529,2018-09-21 16:00:00
30423,H007,R248,00-00-01,1 AV,L,BMT,09/21/2018,20:00:00,REGULAR,59364878,37442784,2018-09-21 20:00:00
30424,H007,R248,00-03-00,1 AV,L,BMT,09/15/2018,00:00:00,REGULAR,370447571,387510355,2018-09-15 00:00:00
30425,H007,R248,00-03-00,1 AV,L,BMT,09/15/2018,04:00:00,REGULAR,370447591,387510457,2018-09-15 04:00:00
30426,H007,R248,00-03-00,1 AV,L,BMT,09/15/2018,08:00:00,REGULAR,370447604,387510494,2018-09-15 08:00:00
30427,H007,R248,00-03-00,1 AV,L,BMT,09/15/2018,12:00:00,REGULAR,370447688,387510669,2018-09-15 12:00:00
30428,H007,R248,00-03-00,1 AV,L,BMT,09/15/2018,16:00:00,REGULAR,370447855,387511011,2018-09-15 16:00:00
30429,H007,R248,00-03-00,1 AV,L,BMT,09/15/2018,20:00:00,REGULAR,370448053,387511348,2018-09-15 20:00:00
30430,H007,R248,00-03-00,1 AV,L,BMT,09/16/2018,00:00:00,REGULAR,370448173,387511645,2018-09-16 00:00:00
30431,H007,R248,00-03-00,1 AV,L,BMT,09/16/2018,04:00:00,REGULAR,370448192,387511720,2018-09-16 04:00:00
30432,H007,R248,00-03-00,1 AV,L,BMT,09/16/2018,08:00:00,REGULAR,370448200,387511752,2018-09-16 08:00:00
30433,H007,R248,00-03-00,1 AV,L,BMT,09/16/2018,12:00:00,REGULAR,370448284,387511876,2018-09-16 12:00:00
30434,H007,R248,00-03-00,1 AV,L,BMT,09/16/2018,16:00:00,REGULAR,370448427,387512158,2018-09-16 16:00:00
30435,H007,R248,00-03-00,1 AV,L,BMT,09/16/2018,20:00:00,RECOVR AUD,370448552,387512432,2018-09-16 20:00:00
30436,H007,R248,00-03-00,1 AV,L,BMT,09/17/2018,00:00:00,REGULAR,370448595,387512585,2018-09-17 00:00:00
30437,H007,R248,00-03-00,1 AV,L,BMT,09/17/2018,04:00:00,REGULAR,370448601,387512598,2018-09-17 04:00:00
30438,H007,R248,00-03-00,1 AV,L,BMT,09/17/2018,08:00:00,REGULAR,370448697,387512820,2018-09-17 08:00:00
30439,H007,R248,00-03-00,1 AV,L,BMT,09/17/2018,12:00:00,REGULAR,370448983,387513345,2018-09-17 12:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
30660,H008,R248,01-00-02,1 AV,L,BMT,09/19/2018,08:00:00,REGULAR,287512,627456,2018-09-19 08:00:00
30661,H008,R248,01-00-02,1 AV,L,BMT,09/19/2018,12:00:00,REGULAR,287621,628004,2018-09-19 12:00:00
30662,H008,R248,01-00-02,1 AV,L,BMT,09/19/2018,16:00:00,REGULAR,287868,628516,2018-09-19 16:00:00
30663,H008,R248,01-00-02,1 AV,L,BMT,09/19/2018,20:00:00,REGULAR,288204,629576,2018-09-19 20:00:00
30664,H008,R248,01-00-02,1 AV,L,BMT,09/20/2018,00:00:00,REGULAR,288424,629987,2018-09-20 00:00:00
30665,H008,R248,01-00-02,1 AV,L,BMT,09/20/2018,04:00:00,REGULAR,288424,629989,2018-09-20 04:00:00
30666,H008,R248,01-00-02,1 AV,L,BMT,09/20/2018,08:00:00,REGULAR,288462,630381,2018-09-20 08:00:00
30667,H008,R248,01-00-02,1 AV,L,BMT,09/20/2018,12:00:00,REGULAR,288558,631126,2018-09-20 12:00:00
30668,H008,R248,01-00-02,1 AV,L,BMT,09/20/2018,16:00:00,REGULAR,288886,631728,2018-09-20 16:00:00
30669,H008,R248,01-00-02,1 AV,L,BMT,09/20/2018,20:00:00,REGULAR,289496,632982,2018-09-20 20:00:00
30670,H008,R248,01-00-02,1 AV,L,BMT,09/21/2018,00:00:00,REGULAR,289951,633486,2018-09-21 00:00:00
30671,H008,R248,01-00-02,1 AV,L,BMT,09/21/2018,04:00:00,REGULAR,289953,633489,2018-09-21 04:00:00
30672,H008,R248,01-00-02,1 AV,L,BMT,09/21/2018,08:00:00,REGULAR,289996,633856,2018-09-21 08:00:00
30673,H008,R248,01-00-02,1 AV,L,BMT,09/21/2018,12:00:00,REGULAR,290132,634606,2018-09-21 12:00:00
30674,H008,R248,01-00-02,1 AV,L,BMT,09/21/2018,16:00:00,REGULAR,290485,635305,2018-09-21 16:00:00
30675,H008,R248,01-00-02,1 AV,L,BMT,09/21/2018,20:00:00,REGULAR,291053,636634,2018-09-21 20:00:00
30676,H008,R248,01-00-03,1 AV,L,BMT,09/15/2018,00:00:00,REGULAR,954907866,998398712,2018-09-15 00:00:00
30677,H008,R248,01-00-03,1 AV,L,BMT,09/15/2018,04:00:00,REGULAR,954908200,998398757,2018-09-15 04:00:00
30678,H008,R248,01-00-03,1 AV,L,BMT,09/15/2018,08:00:00,REGULAR,954908269,998398851,2018-09-15 08:00:00
30679,H008,R248,01-00-03,1 AV,L,BMT,09/15/2018,12:00:00,REGULAR,954908531,998399098,2018-09-15 12:00:00
30680,H008,R248,01-00-03,1 AV,L,BMT,09/15/2018,16:00:00,REGULAR,954909171,998399381,2018-09-15 16:00:00
30681,H008,R248,01-00-03,1 AV,L,BMT,09/15/2018,20:00:00,REGULAR,954909906,998399702,2018-09-15 20:00:00
30682,H008,R248,01-00-03,1 AV,L,BMT,09/16/2018,00:00:00,REGULAR,954910669,998399916,2018-09-16 00:00:00
30683,H008,R248,01-00-03,1 AV,L,BMT,09/16/2018,04:00:00,REGULAR,954910987,998399966,2018-09-16 04:00:00
30684,H008,R248,01-00-03,1 AV,L,BMT,09/16/2018,08:00:00,REGULAR,954911046,998400002,2018-09-16 08:00:00
30685,H008,R248,01-00-03,1 AV,L,BMT,09/16/2018,12:00:00,REGULAR,954911244,998400194,2018-09-16 12:00:00
30686,H008,R248,01-00-03,1 AV,L,BMT,09/16/2018,16:00:00,REGULAR,954911682,998400440,2018-09-16 16:00:00
30687,H008,R248,01-00-03,1 AV,L,BMT,09/16/2018,20:00:00,RECOVR AUD,954912323,998400684,2018-09-16 20:00:00
30688,H008,R248,01-00-03,1 AV,L,BMT,09/17/2018,00:00:00,REGULAR,954912748,998400817,2018-09-17 00:00:00
30689,H008,R248,01-00-03,1 AV,L,BMT,09/17/2018,04:00:00,REGULAR,954912807,998400833,2018-09-17 04:00:00
30690,H008,R248,01-00-03,1 AV,L,BMT,09/17/2018,08:00:00,REGULAR,954912921,998401175,2018-09-17 08:00:00
30691,H008,R248,01-00-03,1 AV,L,BMT,09/17/2018,12:00:00,REGULAR,954913178,998401717,2018-09-17 12:00:00
30692,H008,R248,01-00-03,1 AV,L,BMT,09/17/2018,16:00:00,REGULAR,954913797,998401982,2018-09-17 16:00:00
30693,H008,R248,01-00-03,1 AV,L,BMT,09/17/2018,20:00:00,REGULAR,954914822,998402381,2018-09-17 20:00:00
30694,H008,R248,01-00-03,1 AV,L,BMT,09/18/2018,00:00:00,REGULAR,954915351,998402530,2018-09-18 00:00:00
30695,H008,R248,01-00-03,1 AV,L,BMT,09/18/2018,04:00:00,REGULAR,954915351,998402530,2018-09-18 04:00:00
30696,H008,R248,01-00-03,1 AV,L,BMT,09/18/2018,08:00:00,REGULAR,954915437,998402921,2018-09-18 08:00:00
30697,H008,R248,01-00-03,1 AV,L,BMT,09/18/2018,12:00:00,REGULAR,954915694,998403448,2018-09-18 12:00:00
30698,H008,R248,01-00-03,1 AV,L,BMT,09/18/2018,16:00:00,REGULAR,954916268,998403725,2018-09-18 16:00:00
30699,H008,R248,01-00-03,1 AV,L,BMT,09/18/2018,20:00:00,REGULAR,954917294,998404082,2018-09-18 20:00:00
30700,H008,R248,01-00-03,1 AV,L,BMT,09/19/2018,00:00:00,REGULAR,954917892,998404207,2018-09-19 00:00:00
30701,H008,R248,01-00-03,1 AV,L,BMT,09/19/2018,04:00:00,REGULAR,954917894,998404209,2018-09-19 04:00:00
30702,H008,R248,01-00-03,1 AV,L,BMT,09/19/2018,08:00:00,REGULAR,954917970,998404466,2018-09-19 08:00:00
30703,H008,R248,01-00-03,1 AV,L,BMT,09/19/2018,12:00:00,REGULAR,954918222,998404845,2018-09-19 12:00:00
30704,H008,R248,01-00-03,1 AV,L,BMT,09/19/2018,16:00:00,REGULAR,954918678,998405161,2018-09-19 16:00:00
30705,H008,R248,01-00-03,1 AV,L,BMT,09/19/2018,20:00:00,REGULAR,954919750,998405459,2018-09-19 20:00:00
30706,H008,R248,01-00-03,1 AV,L,BMT,09/20/2018,00:00:00,REGULAR,954920428,998405589,2018-09-20 00:00:00
30707,H008,R248,01-00-03,1 AV,L,BMT,09/20/2018,04:00:00,REGULAR,954920428,998405589,2018-09-20 04:00:00
30708,H008,R248,01-00-03,1 AV,L,BMT,09/20/2018,08:00:00,REGULAR,954920505,998405974,2018-09-20 08:00:00
30709,H008,R248,01-00-03,1 AV,L,BMT,09/20/2018,12:00:00,REGULAR,954920776,998406489,2018-09-20 12:00:00
30710,H008,R248,01-00-03,1 AV,L,BMT,09/20/2018,16:00:00,REGULAR,954921339,998406751,2018-09-20 16:00:00
30711,H008,R248,01-00-03,1 AV,L,BMT,09/20/2018,20:00:00,REGULAR,954922504,998407152,2018-09-20 20:00:00
30712,H008,R248,01-00-03,1 AV,L,BMT,09/21/2018,00:00:00,REGULAR,954923202,998407346,2018-09-21 00:00:00
30713,H008,R248,01-00-03,1 AV,L,BMT,09/21/2018,04:00:00,REGULAR,954923205,998407347,2018-09-21 04:00:00
30714,H008,R248,01-00-03,1 AV,L,BMT,09/21/2018,08:00:00,REGULAR,954923312,998407679,2018-09-21 08:00:00
30715,H008,R248,01-00-03,1 AV,L,BMT,09/21/2018,12:00:00,REGULAR,954923613,998408223,2018-09-21 12:00:00
30716,H008,R248,01-00-03,1 AV,L,BMT,09/21/2018,16:00:00,REGULAR,954924269,998408562,2018-09-21 16:00:00
30717,H008,R248,01-00-03,1 AV,L,BMT,09/21/2018,20:00:00,REGULAR,954925403,998408993,2018-09-21 20:00:00
30718,H008,R248,01-00-04,1 AV,L,BMT,09/15/2018,00:00:00,REGULAR,1629171097,167956854,2018-09-15 00:00:00
30719,H008,R248,01-00-04,1 AV,L,BMT,09/15/2018,04:00:00,REGULAR,1629171578,167956881,2018-09-15 04:00:00
30720,H008,R248,01-00-04,1 AV,L,BMT,09/15/2018,08:00:00,REGULAR,1629171712,167956905,2018-09-15 08:00:00
30721,H008,R248,01-00-04,1 AV,L,BMT,09/15/2018,12:00:00,REGULAR,1629172155,167956976,2018-09-15 12:00:00
30722,H008,R248,01-00-04,1 AV,L,BMT,09/15/2018,16:00:00,REGULAR,1629173170,167957059,2018-09-15 16:00:00
30723,H008,R248,01-00-04,1 AV,L,BMT,09/15/2018,20:00:00,REGULAR,1629174271,167957151,2018-09-15 20:00:00
30724,H008,R248,01-00-04,1 AV,L,BMT,09/16/2018,00:00:00,REGULAR,1629175354,167957217,2018-09-16 00:00:00
30725,H008,R248,01-00-04,1 AV,L,BMT,09/16/2018,04:00:00,REGULAR,1629175803,167957244,2018-09-16 04:00:00
30726,H008,R248,01-00-04,1 AV,L,BMT,09/16/2018,08:00:00,REGULAR,1629175897,167957280,2018-09-16 08:00:00
30727,H008,R248,01-00-04,1 AV,L,BMT,09/16/2018,12:00:00,REGULAR,1629176282,167957328,2018-09-16 12:00:00
30728,H008,R248,01-00-04,1 AV,L,BMT,09/16/2018,16:00:00,REGULAR,1629177053,167957398,2018-09-16 16:00:00
30729,H008,R248,01-00-04,1 AV,L,BMT,09/16/2018,20:00:00,RECOVR AUD,1629178030,167957471,2018-09-16 20:00:00
30730,H008,R248,01-00-04,1 AV,L,BMT,09/17/2018,00:00:00,REGULAR,1629178738,167957513,2018-09-17 00:00:00
30731,H008,R248,01-00-04,1 AV,L,BMT,09/17/2018,04:00:00,REGULAR,1629178863,167957524,2018-09-17 04:00:00
30732,H008,R248,01-00-04,1 AV,L,BMT,09/17/2018,08:00:00,REGULAR,1629179064,167957657,2018-09-17 08:00:00
30733,H008,R248,01-00-04,1 AV,L,BMT,09/17/2018,12:00:00,REGULAR,1629179659,167957795,2018-09-17 12:00:00
30734,H008,R248,01-00-04,1 AV,L,BMT,09/17/2018,16:00:00,REGULAR,1629180482,167957868,2018-09-17 16:00:00
30735,H008,R248,01-00-04,1 AV,L,BMT,09/17/2018,20:00:00,REGULAR,1629181995,167957917,2018-09-17 20:00:00
30736,H008,R248,01-00-04,1 AV,L,BMT,09/18/2018,00:00:00,REGULAR,1629182813,167957957,2018-09-18 00:00:00
30737,H008,R248,01-00-04,1 AV,L,BMT,09/18/2018,04:00:00,REGULAR,1629182813,167957957,2018-09-18 04:00:00
30738,H008,R248,01-00-04,1 AV,L,BMT,09/18/2018,08:00:00,REGULAR,1629183027,167958083,2018-09-18 08:00:00
30739,H008,R248,01-00-04,1 AV,L,BMT,09/18/2018,12:00:00,REGULAR,1629183619,167958222,2018-09-18 12:00:00
30740,H008,R248,01-00-04,1 AV,L,BMT,09/18/2018,16:00:00,REGULAR,1629184295,167958317,2018-09-18 16:00:00
30741,H008,R248,01-00-04,1 AV,L,BMT,09/18/2018,20:00:00,REGULAR,1629185767,167958352,2018-09-18 20:00:00
30742,H008,R248,01-00-04,1 AV,L,BMT,09/19/2018,00:00:00,REGULAR,1629186725,167958386,2018-09-19 00:00:00
30743,H008,R248,01-00-04,1 AV,L,BMT,09/19/2018,04:00:00,REGULAR,1629186725,167958389,2018-09-19 04:00:00
30744,H008,R248,01-00-04,1 AV,L,BMT,09/19/2018,08:00:00,REGULAR,1629186890,167958494,2018-09-19 08:00:00
30745,H008,R248,01-00-04,1 AV,L,BMT,09/19/2018,12:00:00,REGULAR,1629187438,167958565,2018-09-19 12:00:00
30746,H008,R248,01-00-04,1 AV,L,BMT,09/19/2018,16:00:00,REGULAR,1629188185,167958635,2018-09-19 16:00:00
30747,H008,R248,01-00-04,1 AV,L,BMT,09/19/2018,20:00:00,REGULAR,1629189664,167958685,2018-09-19 20:00:00
30748,H008,R248,01-00-04,1 AV,L,BMT,09/20/2018,00:00:00,REGULAR,1629190614,167958738,2018-09-20 00:00:00
30749,H008,R248,01-00-04,1 AV,L,BMT,09/20/2018,04:00:00,REGULAR,1629190616,167958738,2018-09-20 04:00:00
30750,H008,R248,01-00-04,1 AV,L,BMT,09/20/2018,08:00:00,REGULAR,1629190806,167958894,2018-09-20 08:00:00
30751,H008,R248,01-00-04,1 AV,L,BMT,09/20/2018,12:00:00,REGULAR,1629191407,167959011,2018-09-20 12:00:00
30752,H008,R248,01-00-04,1 AV,L,BMT,09/20/2018,16:00:00,REGULAR,1629192227,167959080,2018-09-20 16:00:00

In [31]:
df_1_AV_group = df_1_AV.groupby(['C/A', 'UNIT', 'SCP', 'TIMING'])
type(df_1_AV_group)
df_1_AV_group.head()
#df_1_AV_group.columns

                                         ENTRIES  \
C/A  UNIT SCP      TIMING
H007 R248 00-00-00 2018-09-15 00:00:00  13935028
                   2018-09-15 04:00:00  13935146
                   2018-09-15 08:00:00  13935209
                   2018-09-15 12:00:00  13935751
                   2018-09-15 16:00:00  13936521

                                        EXITS
C/A  UNIT SCP      TIMING
H007 R248 00-00-00 2018-09-15 00:00:00                                           15643528
                   2018-09-15 04:00:00                                           15643854
                   2018-09-15 08:00:00                                           15644198
                   2018-09-15 12:00:00                                           15644918
                   2018-09-15 16:00:00                                           15645879

In [ ]:
plt.plot()

In [39]:
df_1_AV_group = df_1_AV.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE']).sum()
df_1_AV_group.head()

                                        ENTRIES  \
C/A  UNIT SCP      STATION DATE
H007 R248 00-00-00 1 AV    09/15/2018  83614950
                           09/16/2018  83630466
                           09/17/2018  83647476
                           09/18/2018  83670947
                           09/19/2018  83693537

                                       EXITS
C/A  UNIT SCP      STATION DATE
H007 R248 00-00-00 1 AV    09/15/2018                                           93869434
                           09/16/2018                                           93894711
                           09/17/2018                                           93917820
                           09/18/2018                                           93942319
                           09/19/2018                                           93966230